html, body {
    position: relative;
    height: 100%;
    margin: 0;
}
.container {
    height: 100%;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form {
    height:max-content;
    width: max-content;
    margin: 0;
    border: 2px solid;
    border-radius: 16px;
    padding: 20px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} 
.login-page {
    border: none;
}